For this project the SL defined by DS is 0.1

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('iris.csv')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [4]:
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [9]:
# We assume data preprocessing is done
# Seperate your data as features and label

features = data.iloc[:,:-1].values
label = data.iloc[:,4].values

In [10]:
# Split the data as Training set and Testing Set
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(features,
                                                 label,
                                                 test_size=0.2,
                                                 random_state=10)

In [11]:
#Training Process Starts
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [12]:
#Quality Check
# 1. Ensure your model is a generalized model

# To ensure the model is generalized following two conditions must be met
# 1. TestingScore must be greater than TrainingScore
# 2. TestingScore must be greater than or equal to CL ie. 0.9

print("Training Score is: ",model.score(X_train,y_train))
print("Testing Score is: ",model.score(X_test,y_test))

Training Score is:  0.975
Testing Score is:  1.0

In [14]:
from sklearn.metrics import confusion_matrix
confusion_matrix(label,model.predict(features))

array([[50,  0,  0],
       [ 0, 47,  3],
       [ 0,  0, 50]])

In [16]:
from sklearn.metrics import classification_report
print(classification_report(label,model.predict(features)))

              precision    recall  f1-score   support

      setosa       1.00      1.00      1.00        50
  versicolor       1.00      0.94      0.97        50
   virginica       0.94      1.00      0.97        50

    accuracy                           0.98       150
   macro avg       0.98      0.98      0.98       150
weighted avg       0.98      0.98      0.98       150

In [15]:
# 2. Since the dataset is balanced, we will choose accuracy as a decision
# metric for quality
# if acc(test) > CL --- YES

In [ ]:
# Therefore the model is approved for deployment

In [18]:
type(X_train)

numpy.ndarray

In [19]:
X_train.shape

(120, 4)

In [20]:
X_train.ndim

2

In [24]:
# Deployment Test 

sepal_length = float(input("Enter Sepal Length: ")	)
sepal_width	= float(input("Enter Sepal Width: ")	)
petal_length	= float(input("Enter Petal Length: ")	)
petal_width= float(input("Enter Petal Width: ")	)

featureSet = np.array([[sepal_length,sepal_width,petal_length,petal_width]])

print("Predicted Flower is ",model.predict(featureSet)[0])

Enter Sepal Length: 3.5
Enter Sepal Width: 1.5
Enter Petal Length: 1.4
Enter Petal Width: 0.3
Predicted Flower is  setosa